body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1  {
  color: red;
  text-align: center;
}

a {
  align-content: center;
  padding-left: 10px;
  padding-right: 10px
  background: white;
}

p#featured-property{
  width: 800px;
}

div {
  display: block;
}
